{{ define "navbar" }}
<div class="navvbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="button" class="nabbar-togg;e collapsed">
                <span class="st-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="">
                <i class="fa fa-comments-o"></i>
                ChitChat
            </a>
        </div>
        <div class="">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ end }}